body {
    background:#E4F3EB;
    text-align: center;
    margin:auto;
    max-width:470px;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
  }

  .header {
    background: #497B61;
    min-height:200px;
    position: relative;
    max-width: 470px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 12%), 0 1px 30px rgb(0 0 0 / 10%);

    
  }


  .heading {
      font-weight: 800;
      color: white;
padding-top: 2.7rem;
      font-size: 1.5rem;
      font-family: roboto;

  }

  .choose-city {
    font-weight: 300;
    color: white;
padding-top: 2rem;
    font-size: 1.2rem;
    font-family: roboto;

}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1rem;
}

.dropdown select {
background-color: #fff;
  color:#1c5437;
  font-size: inherit;
  font-weight:500;
  padding: .7em;
  padding-right: 1.7em;	
  border: 3px;
  border-radius: 5px;
  border-color: #497B61;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  align-items: center;
}

.card {
    background: #fff;
    border-radius: 35px;
    min-height: 150px;
    margin:auto;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    padding: 0.3rem;
    position: relative;
    width: 90%;
    box-shadow: 0 2px 20px rgb(0 0 0 / 6%), 0 1px 30px rgb(0 0 0 / 1%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
text-align: center;
padding-bottom: 1.5rem;
}

.card-heading {
    font-size: 1.14rem;
    color: #FE8866;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 0.2rem;
    margin-top: 1rem;
    left: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 800!important;
    margin-bottom: 1rem;
}

.action-button {
    background: #D3DFD9;
    border-radius: 35px;
    min-height: 40px;
    margin:auto;
    margin-top: .7rem;
    margin-bottom: 0.2rem;
    padding: 0.3rem;
    position: relative;
    width: 85%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
text-align: center;
}

.button-text {
    font-size: .95rem;
    color: #1C593A;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 0.2rem;
    left: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 600!important;
top: 25%;
}